body{background-color:#eee;text-align:center;font-family:monospace;}
body #info h1{color:#eee;background-color:#222;display:inline-block;margin:0;transition:.5s;}
body #info h1:hover{background-color:#292;cursor:default}
